  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta content="width=1024" name="viewport">
    <title>Интересные публикации / Блок</title>
    <meta name="yandex-verification" content="71593b225aeafc4e">
    <meta name="referrer" content="unsafe-url">
    <meta name="pocket-site-verification" content="ed24b2b9721edf0a282c5b4a3232c4">
    <meta name="yandex-verification" content="67d46b975fa41645">
    <%= render "home/adversting"%>
  </head>