 <div class="sidebar">
        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Latest</span> Articles</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <div class="img"><%= link_to image_tag(film.uploaded_file.url, width: 200, height: 289, class: "fl"), film_path(film)%></div>
          </ul>
        </div>
       
      </div>