
    <div class="sidebar_right js-sidebar_right">
          <div class="xyz_wrapper is_visible">
    <div class="xyz_wrapper_inner">
      <span class="xyz_wrapper_text">Реклама помогает поддерживать и&nbsp;развивать наши сервисы<br><br><a href="https://habrahabr.ru/adblock/" target="_blank">[подробнее]</a></span>
      <div class="no_please_one_one_one" style="min-height: 270px;">
        <script type="text/javascript">
          if (typeof(pr) == 'undefined') { var pr = Math.floor(Math.random() * 4294967295) + 1; }
          if (typeof(document.referrer) != 'undefined') {
            if (typeof(afReferrer) == 'undefined') {
              afReferrer = encodeURIComponent(document.referrer);
            }
          } else {
            afReferrer = '';
          }
          var addate = new Date();
          var dl = encodeURIComponent(document.location);
          var pr1 = Math.floor(Math.random() * 4294967295) + 1;
          document.write('<div id="AdFox_banner_'+pr1+'" style="background:#fff;"><\/div>');
          document.write('<div style="visibility:hidden; position:absolute;"><iframe id="AdFox_iframe_'+pr1+'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div>');
          AdFox_getCodeScript(1,pr1,'//ads.adfox.ru/249077/prepareCode?pp=g&amp;ps=cgto&amp;p2=fjon&amp;pct=a&amp;plp=a&amp;pli=a&amp;pop=a&amp;pr=' + pr +'&amp;pt=b&amp;pd=' + addate.getDate() + '&amp;pw=' + addate.getDay() + '&amp;pv=' + addate.getHours() + '&amp;prr=' + afReferrer + '&amp;dl='+dl+'&amp;pr1='+pr1);
        </script><div id="AdFox_banner_1678885372" style="width: 300px; height: 500px; position: relative;"><iframe id="adfoxHtml5_iframe_1678885372" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" style="width: 300px; height: 500px;"></iframe></div><div style="visibility:hidden; position:absolute;"><iframe id="AdFox_iframe_1678885372" width="1" height="1" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"></iframe></div>
      </div>
    </div>
    <a href="https://special.habrahabr.ru/advertising/" class="firskill__label">Реклама</a>
  </div>
        
  <div class="sidebar-block sidebar-block_top-hubs js-tophubs">
    <h2 class="sidebar-block__title">Потоки</h2>
    <ul class="content-list top-flows">
        <li class="content-list__item top-flows__item">
          <a href="https://habrahabr.ru/flows/develop/" class="content-list__item-link top-flows__item-title" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;flows&#39;, &#39;Разработка&#39;); }">Разработка</a>
          <strong class="top-flows__item-counter" title="Количество новых публикаций за 24 часа">+27</strong>
        </li>
        <li class="content-list__item top-flows__item">
          <a href="https://habrahabr.ru/flows/design/" class="content-list__item-link top-flows__item-title" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;flows&#39;, &#39;Дизайн&#39;); }">Дизайн</a>
          <strong class="top-flows__item-counter" title="Количество новых публикаций за 24 часа">+2</strong>
        </li>
        <li class="content-list__item top-flows__item">
          <a href="https://habrahabr.ru/flows/management/" class="content-list__item-link top-flows__item-title" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;flows&#39;, &#39;Управление&#39;); }">Управление</a>
          <strong class="top-flows__item-counter" title="Количество новых публикаций за 24 часа">+6</strong>
        </li>
        <li class="content-list__item top-flows__item">
          <a href="https://habrahabr.ru/flows/marketing/" class="content-list__item-link top-flows__item-title" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;flows&#39;, &#39;Маркетинг&#39;); }">Маркетинг</a>
          <strong class="top-flows__item-counter" title="Количество новых публикаций за 24 часа">+1</strong>
        </li>
        <li class="content-list__item top-flows__item">
          <a href="https://habrahabr.ru/flows/misc/" class="content-list__item-link top-flows__item-title" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;flows&#39;, &#39;Разное&#39;); }">Разное</a>
          <strong class="top-flows__item-counter" title="Количество новых публикаций за 24 часа">+2</strong>
        </li>
    </ul>
  </div>
          <div class="wrapper-sticky" style="display: block; height: 512px; width: auto; margin: auto; position: relative; float: none; left: auto; right: auto; top: auto; bottom: auto; vertical-align: top;"><div class="js-ad_sticky" style="width: 300px; top: 0px; bottom: auto; left: 0px; right: auto; position: absolute;"><div class="xyz_wrapper">
  <div class="xyz_wrapper_inner">
    <span class="xyz_wrapper_text">Реклама помогает поддерживать и&nbsp;развивать наши сервисы<br><br><a href="https://habrahabr.ru/adblock/" target="_blank">[подробнее]</a></span>
    <!-- Яндекс.Директ -->
    <div id="yandex_ad" style="background: #fff;"><yatag class="yap-yandex_ad-posterVertical" id="yap-yandex_ad-posterVertical"><yatag class="yap-layout yap-main yap-font-size yap-layout_type_medium yap-type-vertical yap-layout_block_vertical yap-layout_block_poster yap-layout_block_poster-vertical"><yatag class="yap-layout__logo yap-logo yap-logo-bg-color"><yatag class="yap-logo-block"><yatag class="yap-logo-block__position yap-logo-position"><a class="yap-logo-block__text yap-logo-text yap-logo-color yap-logo-bg-color" target="_blank" href="https://direct.yandex.ru/?partner">Яндекс.Директ</a></yatag><yatag class="yap-logo-block__arrow yap-logo-arrow"></yatag></yatag></yatag><yatag class="yap-layout__wrapper yap-list-wrapper yap-font-family yap-border-color"><table class="yap-layout__items yap-list"><tbody><tr><td data-id="1800047400" data-uniq-id="1464936283474" class="yap-layout__item yap-item yap-border-color yap-layout__item_nth_1 yap-layout__item_picture_true yap-layout__item_sticky-arrow_ yap-layout__item_short_"><yatag class="yap-layout__outer"><yatag class="yap-layout__bg "><yatag class="yap-layout__bg-img" style="background-image: url(//avatars-fast.yandex.net/get-direct/CHvJ26v8k_6fJaKACqv2Iw/wy150)"></yatag></yatag><yatag class="yap-layout__inner yap-item-inner"><yatag class="yap-layout__title"><yatag class="yap-title-block yap-title "><a href="https://an.yandex.ru/count/0OB4NZg7w7y40000ZhTr4dK5XP9p99K2cm5kGxS2Am68ibTKgGQ9ffFfBvZ__________m-Uk00000ITd5WMkloeJrxWnm0X2wPxYhYogBG6tBu9f888lRrUb-m5gW6beT5I2Rofei88tG7Ua2JqaRdM3MOCZxxs1oy9dxNVwsSAauy8cGn2Z9qmXhQGX9craEv_e9E7_Q-TC8QpaBFnj93kVzcj5W01sf0az9IIwGodWZceesrNbw7z6HDjtqUcUG6am00004aChlFZG5BQy5Ye0h2u4z6F1R41ig1I00Avd5WMk_qP4stVHwPv0S7__________m_5Zm_DkUvKj0REkWcaWWZJ0jlzMMpWvaUcUG7VZmXw8G00?test-tag=2391820241&amp;stat-id=1073741832" target="_blank" class="yap-title-block__text yap-title-text yap-title-font-size yap-title-color yap-title-hover-color">Microsoft All in Cloud</a></yatag>&nbsp;<yatag class="yap-layout__age"><yatag class="yap-age">18+</yatag></yatag><yatag class="yap-layout__title-domain"><a class="yap-domain yap-domain-text" target="_blank" href="https://an.yandex.ru/count/0OB4NZg7w7y40000ZhTr4dK5XP9p99K2cm5kGxS2Am68ibTKgGQ9ffFfBvZ__________m-Uk00000ITd5WMkloeJrxWnm0X2wPxYhYogBG6tBu9f888lRrUb-m5gW6beT5I2Rofei88tG7Ua2JqaRdM3MOCZxxs1oy9dxNVwsSAauy8cGn2Z9qmXhQGX9craEv_e9E7_Q-TC8QpaBFnj93kVzcj5W01sf0az9IIwGodWZceesrNbw7z6HDjtqUcUG6am00004aChlFZG5BQy5Ye0h2u4z6F1R41ig1I00Avd5WMk_qP4stVHwPv0S7__________m_5Zm_DkUvKj0REkWcaWWZJ0jlzMMpWvaUcUG7VZmXw8G00?test-tag=2391820241&amp;stat-id=1073741832"><img class="yap-favicon" src="./Интересные публикации _ Хабрахабр_files/microsoft.com" alt=""><yatag class="yap-domain__text">microsoft.<wbr>com</yatag></a></yatag><yatag class="yap-layout__arrow"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11px" height="7px" viewBox="0 0 12 7"><path d="M11,1.4L5.5,7L0,1.4L0.5,0.875L5.5,6L10.5,0.875L11,1.4z"></path></svg></yatag><yatag class="yap-layout__arrow yap-layout__arrow_roll-up"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11px" height="7px" viewBox="0 0 12 7"><path d="M11,1.4L5.5,7L0,1.4L0.5,0.875L5.5,6L10.5,0.875L11,1.4z"></path></svg></yatag></yatag><yatag class="yap-layout__content"><yatag class="yap-layout__picture " style="background-image: url(//avatars-fast.yandex.net/get-direct/CHvJ26v8k_6fJaKACqv2Iw/wy150) !important;margin-left: -133.5px !important;margin-top: -71.5px !important;width: 267px !important;height: 150px; !important"></yatag><yatag class="yap-layout__slider" style="min-height: 164px;"><yatag class="yap-layout__slider-inner"><yatag class="yap-layout__body yap-text"><a class="yap-body-text yap-text-color"><wbr>Подберите <b>облачные</b> инструменты для&nbsp;вашего бизнеса. Загружайте книгу!</a></yatag></yatag></yatag></yatag><yatag class="yap-layout__adtune"><yatag class="yap-adtune yap-adtune_touch_false yap-adtune_oldie_false"><yatag class="yap-adtune__button yap-adtune-button"><yatag class="yap-adtune__image"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="8px" viewBox="0 0 14 14"><polygon points="14,0.7 13.3,0 7,6.299 0.7,0 0,0.7 6.3,7 0,13.299 0.7,14 7,7.7 13.3,14 14,13.299 7.7,7"></polygon></svg></yatag><yatag class="yap-adtune__tooltip"><yatag class="yap-adtune__tooltip-text">Скрыть&nbsp;объявление</yatag></yatag></yatag></yatag></yatag></yatag><yatag class="yap-layout__adtune-message"><yatag class="yap-adtune-message"><table class="yap-adtune-message__table"><tbody><tr><td class="yap-adtune-message__text">Спасибо. Объявление скрыто.</td></tr></tbody></table></yatag></yatag></yatag></td></tr><tr><td data-id="1792547566" data-uniq-id="1464936289324" class="yap-layout__item yap-item yap-border-color yap-layout__item_nth_2 yap-layout__item_picture_true yap-layout__item_sticky-arrow_ yap-layout__item_short_"><yatag class="yap-layout__outer"><yatag class="yap-layout__bg "><yatag class="yap-layout__bg-img" style="background-image: url(//avatars-fast.yandex.net/get-direct/s1uK5dArmKEGQfxTQcgCtg/y150)"></yatag></yatag><yatag class="yap-layout__inner yap-item-inner"><yatag class="yap-layout__title"><yatag class="yap-title-block yap-title yap-title-block_highlighted"><a href="https://an.yandex.ru/count/0OB4NbEyaEa40000ZhTr4dK5XP9p99K2cm5kGxS2Am4qYBzAwN44YPU6F9Z__________m-Uk00000ITgccX4hhyg4zUuCS08GkcHeg-he6j1jop9k5x2Bswp9xe1Qe1fQYpoWYyeIyN1jq1tf0az96vrWrc38-wfH853v-ZvhDPauy8cGn2Z9DtLRQSencrcBeLe9oTeQ-JTrMpd1Ofj9Yw5TcRFwFQa84fb9gj4gU24QYnizfq1g7z6HDjtqUcUG6am00004aChlFZG5BQy5Ye0h2u4z6F1R41ig1I00AvgccX4hlz6HDjtqUcUG71__________yFnOyFpRskWQq6ph0cuNi8qmBR_LbiuEP7fda1tuy8Uo40?test-tag=3465562065&amp;stat-id=1073741832" target="_blank" class="yap-title-block__text yap-title-text yap-title-font-size yap-title-color yap-title-hover-color">Обучение <b>визуализации</b> интерьера.</a></yatag>&nbsp;<yatag class="yap-layout__age"><yatag class="yap-age">18+</yatag></yatag><yatag class="yap-layout__title-domain"><a class="yap-domain yap-domain-text" target="_blank" href="https://an.yandex.ru/count/0OB4NbEyaEa40000ZhTr4dK5XP9p99K2cm5kGxS2Am4qYBzAwN44YPU6F9Z__________m-Uk00000ITgccX4hhyg4zUuCS08GkcHeg-he6j1jop9k5x2Bswp9xe1Qe1fQYpoWYyeIyN1jq1tf0az96vrWrc38-wfH853v-ZvhDPauy8cGn2Z9DtLRQSencrcBeLe9oTeQ-JTrMpd1Ofj9Yw5TcRFwFQa84fb9gj4gU24QYnizfq1g7z6HDjtqUcUG6am00004aChlFZG5BQy5Ye0h2u4z6F1R41ig1I00AvgccX4hlz6HDjtqUcUG71__________yFnOyFpRskWQq6ph0cuNi8qmBR_LbiuEP7fda1tuy8Uo40?test-tag=3465562065&amp;stat-id=1073741832"><img class="yap-favicon" src="./Интересные публикации _ Хабрахабр_files/ivannikitin.ru" alt=""><yatag class="yap-domain__text">ivannikitin.<wbr>ru</yatag></a></yatag><yatag class="yap-layout__arrow"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11px" height="7px" viewBox="0 0 12 7"><path d="M11,1.4L5.5,7L0,1.4L0.5,0.875L5.5,6L10.5,0.875L11,1.4z"></path></svg></yatag><yatag class="yap-layout__arrow yap-layout__arrow_roll-up"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11px" height="7px" viewBox="0 0 12 7"><path d="M11,1.4L5.5,7L0,1.4L0.5,0.875L5.5,6L10.5,0.875L11,1.4z"></path></svg></yatag></yatag><yatag class="yap-layout__content"><yatag class="yap-layout__picture " style="background-image: url(//avatars-fast.yandex.net/get-direct/s1uK5dArmKEGQfxTQcgCtg/y150) !important;margin-left: -100px !important;margin-top: -71.5px !important;width: 200px !important;height: 150px; !important"></yatag><yatag class="yap-layout__slider" style="min-height: 164px;"><yatag class="yap-layout__slider-inner"><yatag class="yap-layout__body yap-text"><a class="yap-body-text yap-text-color"><wbr>3D Max <b>визуализация</b> с&nbsp;доходом 250т.р. Возможность работать у&nbsp;нас в&nbsp;команде!</a></yatag><yatag class="yap-layout__sitelinks"><yatag class="yap-sitelinks"><a class="yap-sitelinks__link yap-sitelink-text" target="_blank" href="https://an.yandex.ru/count/0OB4Nl6fiue40000ZhTr4dK5XP9p99K2cm5kGxS2Am4qYBzAwN44YPU6F9Z__________m-Uk00000ITgccX4hhyg4zUuCS08GkcHeg-he6j1jop9k5x2Bswp9xe1Qe6fQYpoWYyeIyN1jq1tf0az96vrWrc38-wfH853v-ZvhDPauy8cGn2Z9DtLRQSencrcBeLe9oTeQ-JTrMpd1Ofj9Yw5TcRFwFQa84fb9gj4gU24QYnizfq1g7z6HDjtqUcUG6am00004aChlFZG5BQy5Ye0h2u4z6F1R41ig1I00AvgccX4hlz6HDjtqUcUG71__________yFnOyFpRskWQq6ph0cuNi8qmBR_LbiuEP7fda1tuy8Uo40?test-tag=3465562065&amp;stat-id=1073741832">Бесплатный Мастер-класс</a><a class="yap-sitelinks__link yap-sitelink-text" target="_blank" href="https://an.yandex.ru/count/0OB4Ncxoymq40000ZhTr4dK5XP9p99K2cm5kGxS2Am4qYBzAwN44YPU6F9Z__________m-Uk00000ITgccX4hhyg4zUuCS08GkcHeg-he6j1jop9k5x2Bswp9xe1Qe8fQYpoWYyeIyN1jq1tf0az96vrWrc38-wfH853v-ZvhDPauy8cGn2Z9DtLRQSencrcBeLe9oTeQ-JTrMpd1Ofj9Yw5TcRFwFQa84fb9gj4gU24QYnizfq1g7z6HDjtqUcUG6am00004aChlFZG5BQy5Ye0h2u4z6F1R41ig1I00AvgccX4hlz6HDjtqUcUG71__________yFnOyFpRskWQq6ph0cuNi8qmBR_LbiuEP7fda1tuy8Uo40?test-tag=3465562065&amp;stat-id=1073741832">Ведущий: Иван Никитин</a><a class="yap-sitelinks__link yap-sitelink-text" target="_blank" href="https://an.yandex.ru/count/0OB4NjQXwhe40000ZhTr4dK5XP9p99K2cm5kGxS2Am4qYBzAwN44YPU6F9Z__________m-Uk00000ITgccX4hhyg4zUuCS08GkcHeg-he6j1jop9k5x2Bswp9xe1QeAfQYpoWYyeIyN1jq1tf0az96vrWrc38-wfH853v-ZvhDPauy8cGn2Z9DtLRQSencrcBeLe9oTeQ-JTrMpd1Ofj9Yw5TcRFwFQa84fb9gj4gU24QYnizfq1g7z6HDjtqUcUG6am00004aChlFZG5BQy5Ye0h2u4z6F1R41ig1I00AvgccX4hlz6HDjtqUcUG71__________yFnOyFpRskWQq6ph0cuNi8qmBR_LbiuEP7fda1tuy8Uo40?test-tag=3465562065&amp;stat-id=1073741832">Начало уже завтра</a></yatag></yatag></yatag></yatag></yatag><yatag class="yap-layout__adtune"><yatag class="yap-adtune yap-adtune_touch_false yap-adtune_oldie_false"><yatag class="yap-adtune__button yap-adtune-button"><yatag class="yap-adtune__image"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="8px" viewBox="0 0 14 14"><polygon points="14,0.7 13.3,0 7,6.299 0.7,0 0,0.7 6.3,7 0,13.299 0.7,14 7,7.7 13.3,14 14,13.299 7.7,7"></polygon></svg></yatag><yatag class="yap-adtune__tooltip"><yatag class="yap-adtune__tooltip-text">Скрыть&nbsp;объявление</yatag></yatag></yatag></yatag></yatag></yatag><yatag class="yap-layout__adtune-message"><yatag class="yap-adtune-message"><table class="yap-adtune-message__table"><tbody><tr><td class="yap-adtune-message__text">Спасибо. Объявление скрыто.</td></tr></tbody></table></yatag></yatag></yatag></td></tr></tbody></table></yatag></yatag></yatag></div>
    
  </div>
  <a href="https://special.habrahabr.ru/advertising/" class="firskill__label">Реклама</a>
</div>
</div></div>
    </div>
  </div>
  <div class="column-wrapper column-wrapper_bottom column-wrapper_bordered">
    <div class="content_left">
      
  <div class="similar-posts similar-posts_full">
    <h2 class="similar-posts__title">Самое читаемое</h2>
    <div class="live-broadcast__tabs tabs" id="broadcast_tabs_posts">
      <ul class="tabs__menu tabs__menu_posts menu menu_inline">
        <li class="menu__item active"><a href="https://habrahabr.ru/#broadcast_posts_now" class="menu__item-tab">Сейчас</a></li>
        <li class="menu__item"><a href="https://habrahabr.ru/#broadcast_posts_today" class="menu__item-tab">Сутки</a></li>
        <li class="menu__item"><a href="https://habrahabr.ru/#broadcast_posts_week" class="menu__item-tab">Неделя</a></li>
        <li class="menu__item"><a href="https://habrahabr.ru/#broadcast_posts_month" class="menu__item-tab">Месяц</a></li>
      </ul>
        <div class="tabs__content tabs__content_reading" id="broadcast_posts_now" style="display: block;">
            <ul class="content-list content-list_posts content-list_most-reading">
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+9</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/post/302506/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Шестое чувство Facebook</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">4,8k</span>
                        <span class="inline-list__item favorites-count">21</span>
                        <span class="inline-list__item comments-count">1</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+34</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/mosigra/blog/283530/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Интерфейсы в реальном мире: проектируем самый адский интерфейс</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">32k</span>
                        <span class="inline-list__item favorites-count">46</span>
                        <span class="inline-list__item comments-count">123</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+43</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/defconru/blog/302418/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Аккаунты пользователей Teamviewer взломаны</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">61,6k</span>
                        <span class="inline-list__item favorites-count">59</span>
                        <span class="inline-list__item comments-count">111</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+14</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/pt/blog/302490/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">PHD VI: как у нас угнали дрона</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">9,8k</span>
                        <span class="inline-list__item favorites-count">44</span>
                        <span class="inline-list__item comments-count">3</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+6</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/post/302494/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Делаем собственный сервис по определению WHOIS любого домена</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">4,7k</span>
                        <span class="inline-list__item favorites-count">47</span>
                        <span class="inline-list__item comments-count">8</span>
                      </span>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
        <div class="tabs__content tabs__content_reading" id="broadcast_posts_today" style="display: none;">
            <ul class="content-list content-list_posts content-list_most-reading">
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+43</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/defconru/blog/302418/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Аккаунты пользователей Teamviewer взломаны</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">61,6k</span>
                        <span class="inline-list__item favorites-count">59</span>
                        <span class="inline-list__item comments-count">111</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+34</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/mosigra/blog/283530/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Интерфейсы в реальном мире: проектируем самый адский интерфейс</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">32k</span>
                        <span class="inline-list__item favorites-count">46</span>
                        <span class="inline-list__item comments-count">123</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+91</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/post/151688/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Взломать Wi-Fi за… 3 секунды</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">1548k</span>
                        <span class="inline-list__item favorites-count">1290</span>
                        <span class="inline-list__item comments-count">63</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+14</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/vivaldi/blog/302424/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Финальный релиз браузера Vivaldi 1.2</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">13,1k</span>
                        <span class="inline-list__item favorites-count">7</span>
                        <span class="inline-list__item comments-count">55</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+13</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/post/302384/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Устав юного веб-дизайнера на фрилансе</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">15,7k</span>
                        <span class="inline-list__item favorites-count">124</span>
                        <span class="inline-list__item comments-count">28</span>
                      </span>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
        <div class="tabs__content tabs__content_reading" id="broadcast_posts_week" style="display: none;">
            <ul class="content-list content-list_posts content-list_most-reading">
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+43</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/defconru/blog/302418/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Аккаунты пользователей Teamviewer взломаны</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">61,6k</span>
                        <span class="inline-list__item favorites-count">59</span>
                        <span class="inline-list__item comments-count">111</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+22</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/rootwelt/blog/302364/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Как победить на собеседовании. Несколько крайне полезных советов для разработчиков</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">39,4k</span>
                        <span class="inline-list__item favorites-count">303</span>
                        <span class="inline-list__item comments-count">76</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+44</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/reactos/blog/302044/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">ReactOS 0.4.2 будет превосходным</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">39k</span>
                        <span class="inline-list__item favorites-count">40</span>
                        <span class="inline-list__item comments-count">188</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+16</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/post/302096/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Gchat был мессенджером будущего, но Google этого не понял</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">35,4k</span>
                        <span class="inline-list__item favorites-count">24</span>
                        <span class="inline-list__item comments-count">43</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+21</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/post/294224/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Как собеседовать технического специалиста</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">33,8k</span>
                        <span class="inline-list__item favorites-count">220</span>
                        <span class="inline-list__item comments-count">77</span>
                      </span>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
        <div class="tabs__content tabs__content_reading" id="broadcast_posts_month" style="display: none;">
            <ul class="content-list content-list_posts content-list_most-reading">
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+136</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/pt/blog/283052/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Как взломать Telegram и WhatsApp: спецслужбы не нужны</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">182k</span>
                        <span class="inline-list__item favorites-count">490</span>
                        <span class="inline-list__item comments-count">237</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+368</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/post/301832/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Исследование защищенности карты Тройка</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">136k</span>
                        <span class="inline-list__item favorites-count">632</span>
                        <span class="inline-list__item comments-count">336</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+99</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/tm/blog/283446/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Назад в будущее: «Мегамозг» возвращается на «Хабрахабр»</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">102k</span>
                        <span class="inline-list__item favorites-count">43</span>
                        <span class="inline-list__item comments-count">497</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+78</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/post/301924/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">«Кандидат имеет право задавать уточняющие вопросы», или Доводим интервьюера до нервного срыва</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">84,2k</span>
                        <span class="inline-list__item favorites-count">155</span>
                        <span class="inline-list__item comments-count">217</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="content-list__item">
                  <div class="post-preview">
                    <div class="post-preview__rating">+117</div>
                    <div class="post-preview__desc">
                      <a href="https://habrahabr.ru/company/rootwelt/blog/301246/" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;post&#39;); }" class="post-preview__link">Двойной обман. Как ФБР использовало украинского хакера Максима Попова</a>
                      <span class="post-preview__attrs inline-list inline-list_attrs">
                        <span class="inline-list__item views-count">81,1k</span>
                        <span class="inline-list__item favorites-count">317</span>
                        <span class="inline-list__item comments-count">71</span>
                      </span>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
      
  <div class="live-broadcast live-broadcast_feed">
    <h2 class="live-broadcast__title live-broadcast__title_feed">Интересные публикации</h2>
    <div class="dropdown dropdown_broadcast">
      <button type="button" class="btn btn_outline_grey btn_large icon_cog dropdown-toggle" data-toggle="dropdown">
      </button>
      <div class="dropdown-container">
        <ul class="n-dropdown-menu n-dropdown-menu_feed" id="filter">
          <li class="n-dropdown-menu__item">
            <label class="checkbox checkbox_custom">
              <input type="checkbox" class="checkbox__input" name="habrahabr" checked="">
              <span class="checkbox__label">Хабрахабр</span>
            </label>
          </li>
          <li class="n-dropdown-menu__item">
            <label class="checkbox checkbox_custom">
              <input type="checkbox" class="checkbox__input" name="geektimes" checked="">
              <span class="checkbox__label">Гиктаймс</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="live-broadcast__content">
      <ul class="content-list content-list_feed" id="list" data-posts-count="5">
          <li class="content-list__item content-list__item_geektimes" data-type="geektimes">
            <a href="https://geektimes.ru/post/276752/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">Xiaomi Mi Band 2 представлен официально: OLED дисплей, пульсометр и новый дизайн</a>&nbsp;&nbsp;<a href="https://geektimes.ru/post/276752/#comments" class="content-list__item-counter icon_comments">7</a>
          </li>
          <li class="content-list__item content-list__item_habrahabr" data-type="habrahabr">
            <a href="https://habrahabr.ru/post/302506/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">Шестое чувство Facebook</a>&nbsp;&nbsp;<a href="https://habrahabr.ru/post/302506/#comments" class="content-list__item-counter icon_comments">1</a>
          </li>
          <li class="content-list__item content-list__item_geektimes" data-type="geektimes">
            <a href="https://geektimes.ru/post/276776/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">Первые тесты универсальной вакцины против рака прошли успешно</a>&nbsp;&nbsp;<a href="https://geektimes.ru/post/276776/#comments" class="content-list__item-counter icon_comments">17</a>
          </li>
          <li class="content-list__item content-list__item_geektimes" data-type="geektimes">
            <a href="https://geektimes.ru/post/276774/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">Эффект Доплера помог физику из Казани успешно оспорить штраф ГИБДД</a>&nbsp;&nbsp;<a href="https://geektimes.ru/post/276774/#comments" class="content-list__item-counter icon_comments">88</a>
          </li>
          <li class="content-list__item content-list__item_geektimes" data-type="geektimes">
            <a href="https://geektimes.ru/post/276770/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">Google запустила инструмент оценки пригодности сайта для мобильных устройств</a>&nbsp;&nbsp;<a href="https://geektimes.ru/post/276770/#comments" class="content-list__item-counter icon_comments">7</a>
          </li>
          <li class="content-list__item content-list__item_habrahabr hidden" data-type="habrahabr">
            <a href="https://habrahabr.ru/post/302494/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">Делаем собственный сервис по определению WHOIS любого домена</a>&nbsp;&nbsp;<a href="https://habrahabr.ru/post/302494/#comments" class="content-list__item-counter icon_comments">8</a>
          </li>
          <li class="content-list__item content-list__item_habrahabr hidden" data-type="habrahabr">
            <a href="https://habrahabr.ru/post/302490/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">PHD VI: как у нас угнали дрона</a>&nbsp;&nbsp;<a href="https://habrahabr.ru/post/302490/#comments" class="content-list__item-counter icon_comments">3</a>
          </li>
          <li class="content-list__item content-list__item_habrahabr hidden" data-type="habrahabr">
            <a href="https://habrahabr.ru/post/302482/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">Google I/O 2016: развитие платформы Firebase</a>&nbsp;&nbsp;<a href="https://habrahabr.ru/post/302482/#comments" class="content-list__item-counter icon_comments">0</a>
          </li>
          <li class="content-list__item content-list__item_geektimes hidden" data-type="geektimes">
            <a href="https://geektimes.ru/post/276754/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">Рак сердца. Почему его можно не бояться?</a>&nbsp;&nbsp;<a href="https://geektimes.ru/post/276754/#comments" class="content-list__item-counter icon_comments">17</a>
          </li>
          <li class="content-list__item content-list__item_habrahabr hidden" data-type="habrahabr">
            <a href="https://habrahabr.ru/post/302462/" class="content-list__item-link" onclick="if (typeof ga === &#39;function&#39;) { ga(&#39;send&#39;, &#39;event&#39;, &#39;tm_block&#39;, &#39;live_broadcast_activity&#39;, &#39;comment&#39;); }" data-utm="?utm_source=tm_megamozg&amp;utm_medium=tm_block&amp;utm_campaign=tm_promo">Год с Runkeeper: Анализ и визуализация геоданных о ваших путешествиях</a>&nbsp;&nbsp;<a href="https://habrahabr.ru/post/302462/#comments" class="content-list__item-counter icon_comments">1</a>
          </li>
      </ul>
    </div>
  </div>
    </div>
    <div class="sidebar_right">
        <div class="xyz_wrapper js-ad_sticky_bottom">
  <div class="xyz_wrapper_inner">
    <span class="xyz_wrapper_text">Реклама помогает поддерживать и&nbsp;развивать наши сервисы<br><br><a href="https://habrahabr.ru/adblock/" target="_blank">[подробнее]</a></span>
    <!-- Яндекс.Директ -->
    <div id="yandex_ad_bottom" style="background: #fff;"><yatag class="yap-yandex_ad_bottom-posterVertical" id="yap-yandex_ad_bottom-posterVertical"><yatag class="yap-layout yap-main yap-font-size yap-layout_type_medium yap-type-vertical yap-layout_block_vertical yap-layout_block_poster yap-layout_block_poster-vertical"><yatag class="yap-layout__logo yap-logo yap-logo-bg-color"><yatag class="yap-logo-block"><yatag class="yap-logo-block__position yap-logo-position"><a class="yap-logo-block__text yap-logo-text yap-logo-color yap-logo-bg-color" target="_blank" href="https://direct.yandex.ru/?partner">Яндекс.Директ</a></yatag><yatag class="yap-logo-block__arrow yap-logo-arrow"></yatag></yatag></yatag><yatag class="yap-layout__wrapper yap-list-wrapper yap-font-family yap-border-color"><table class="yap-layout__items yap-list"><tbody><tr><td data-id="1196274430" data-uniq-id="1464936210768" class="yap-layout__item yap-item yap-border-color yap-layout__item_nth_1 yap-layout__item_picture_true yap-layout__item_sticky-arrow_ yap-layout__item_short_"><yatag class="yap-layout__outer"><yatag class="yap-layout__bg "><yatag class="yap-layout__bg-img" style="background-image: url(//avatars-fast.yandex.net/get-direct/juRQFNsXB-GL6iVY_4zMEg/y150)"></yatag></yatag><yatag class="yap-layout__inner yap-item-inner"><yatag class="yap-layout__title"><yatag class="yap-title-block yap-title yap-title-block_highlighted"><a href="https://an.yandex.ru/count/31zIotIJ-OG40000Zh1n4dK5XP9p99K2cm5kGxS2Am4qYA-F5yA9iClfe0EOZHIUk00000ITgQzQ5Rhyg4zUuCS08Gkc2ug-Bzjq1DouTySf1hsrUUnm1Ae1fQsVN0UyfjvM1zq1tf0az96yIh0L18-mJVFA3P-z9cDi1vEF29aUGeoU8Jgsa852jPXhDw2NNbkldY4wiv8RLxIOQpVPbX8jsf3uAfIQw0UdZ32elVEhZGIX_HaJRTz7fda1fC0000193Axwpu1Xfk1Ng0Amk1FHZmMn0RAWKW02kQclMXMx_HaJRTz7fda1mV__________3yG1nOyFp0NDlo_RT0JEjMMQAGRJ0jlzMMpWvaUcUG7VZmXw8G00?test-tag=1318078417&amp;stat-id=1073741829" target="_blank" class="yap-title-block__text yap-title-text yap-title-font-size yap-title-color yap-title-hover-color">-25% на <b>бензопилы</b> «Hunter» Латвия</a></yatag><yatag class="yap-layout__title-domain"><a class="yap-domain yap-domain-text" target="_blank" href="https://an.yandex.ru/count/31zIotIJ-OG40000Zh1n4dK5XP9p99K2cm5kGxS2Am4qYA-F5yA9iClfe0EOZHIUk00000ITgQzQ5Rhyg4zUuCS08Gkc2ug-Bzjq1DouTySf1hsrUUnm1Ae1fQsVN0UyfjvM1zq1tf0az96yIh0L18-mJVFA3P-z9cDi1vEF29aUGeoU8Jgsa852jPXhDw2NNbkldY4wiv8RLxIOQpVPbX8jsf3uAfIQw0UdZ32elVEhZGIX_HaJRTz7fda1fC0000193Axwpu1Xfk1Ng0Amk1FHZmMn0RAWKW02kQclMXMx_HaJRTz7fda1mV__________3yG1nOyFp0NDlo_RT0JEjMMQAGRJ0jlzMMpWvaUcUG7VZmXw8G00?test-tag=1318078417&amp;stat-id=1073741829"><yatag class="yap-domain__text">hunter-ua.<wbr>com.<wbr>ua</yatag></a></yatag><yatag class="yap-layout__arrow"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11px" height="7px" viewBox="0 0 12 7"><path d="M11,1.4L5.5,7L0,1.4L0.5,0.875L5.5,6L10.5,0.875L11,1.4z"></path></svg></yatag><yatag class="yap-layout__arrow yap-layout__arrow_roll-up"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="11px" height="7px" viewBox="0 0 12 7"><path d="M11,1.4L5.5,7L0,1.4L0.5,0.875L5.5,6L10.5,0.875L11,1.4z"></path></svg></yatag></yatag><yatag class="yap-layout__content"><yatag class="yap-layout__picture " style="background-image: url(//avatars-fast.yandex.net/get-direct/juRQFNsXB-GL6iVY_4zMEg/y150) !important;margin-left: -91.5px !important;margin-top: -71.5px !important;width: 183px !important;height: 150px; !important"></yatag><yatag class="yap-layout__slider" style="min-height: 164px;"><yatag class="yap-layout__slider-inner"><yatag class="yap-layout__body yap-text"><a class="yap-body-text yap-text-color"><wbr>Цены от&nbsp;2670 грн + подарок. Европейское качество. Гарантия 3 года. Спешите!</a></yatag><yatag class="yap-layout__contacts"><yatag class="yap-contacts"><yatag class="yap-contacts__item"><a class="yap-contacts__item-link" target="_blank" href="https://an.yandex.ru/count/31zIo_ZITnq40000Zh1n4dK5XP9p99K2cm5kGxS2Am4qYA-F5yA9iClfe0EOZHIUk00000ITgQzQ5Rhyg4zUuCS08Gkc2ug-Bzjq1DouTySf1hsrUUnm1Ae7fQsVN0UyfjvM1zq1tf0az96yIh0L18-mJVFA3P-z9cDi1vEF29aUGeoU8Jgsa852jPXhDw2NNbkldY4wiv8RLxIOQpVPbX8jsf3uAfIQw0UdZ32elVEhZGIX_HaJRTz7fda1fC0000193Axwpu1Xfk1Ng0Amk1FHZmMn0RAWKW02kQclMXMx_HaJRTz7fda1mV__________3yG1nOyFp0NDlo_RT0JEjMMQAGRJ0jlzMMpWvaUcUG7VZmXw8G00?test-tag=1318078417&amp;stat-id=1073741829">Адрес&nbsp;и&nbsp;телефон</a></yatag></yatag></yatag></yatag></yatag></yatag><yatag class="yap-layout__adtune"><yatag class="yap-adtune yap-adtune_touch_false yap-adtune_oldie_false"><yatag class="yap-adtune__button yap-adtune-button"><yatag class="yap-adtune__image"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="8px" viewBox="0 0 14 14"><polygon points="14,0.7 13.3,0 7,6.299 0.7,0 0,0.7 6.3,7 0,13.299 0.7,14 7,7.7 13.3,14 14,13.299 7.7,7"></polygon></svg></yatag><yatag class="yap-adtune__tooltip"><yatag class="yap-adtune__tooltip-text">Скрыть&nbsp;объявление</yatag></yatag></yatag></yatag></yatag></yatag><yatag class="yap-layout__adtune-message"><yatag class="yap-adtune-message"><table class="yap-adtune-message__table"><tbody><tr><td class="yap-adtune-message__text">Спасибо. Объявление скрыто.</td></tr></tbody></table></yatag></yatag></yatag></td></tr><tr><td data-id="1695427931" data-uniq-id="1464936217682" class="yap-layout__item yap-item yap-border-color yap-layout__item_nth_2 yap-layout__item_picture_false yap-layout__item_sticky-arrow_ yap-layout__item_short_"><yatag class="yap-layout__outer"><yatag class="yap-layout__inner yap-item-inner"><yatag class="yap-layout__title"><yatag class="yap-title-block yap-title "><a href="https://an.yandex.ru/count/31zIouP5swa40000Zh1n4dK5XP9p99K2cm5kGxS2Am4pYBfDvQ43YR5iSOq2cF__________3vwu000019sgbI0JkloeJrxWnm0X2wOvYhlLub06tB6pP2y5lRG0Jj03gW6bhY3E2BojIUi2tG7Ua2JqaRnAi1K4ZxctJpKCdxjCYGq3auy8cM92Z9D6ShQKI2Arc0qTe9mjlA-JHdApcTSlj9WD7TcR3i3QaDGmb9Ko6QU4BAYfTjabeVqP4stVHwPv0QJ00000IGoi2Axwpu1Xfk1Ng0Amk1FHZmMn0RAWK002kQgL81Ex_HaJRTz7fda1mV__________3yMF3zC2s_rPRE3cHwPv0T-F27iW?test-tag=2391820241&amp;stat-id=1073741829" target="_blank" class="yap-title-block__text yap-title-text yap-title-font-size yap-title-color yap-title-hover-color">Аутсорсинг администрирования СУБД</a></yatag><yatag class="yap-layout__title-domain"><a class="yap-domain yap-domain-text" target="_blank" href="https://an.yandex.ru/count/31zIouP5swa40000Zh1n4dK5XP9p99K2cm5kGxS2Am4pYBfDvQ43YR5iSOq2cF__________3vwu000019sgbI0JkloeJrxWnm0X2wOvYhlLub06tB6pP2y5lRG0Jj03gW6bhY3E2BojIUi2tG7Ua2JqaRnAi1K4ZxctJpKCdxjCYGq3auy8cM92Z9D6ShQKI2Arc0qTe9mjlA-JHdApcTSlj9WD7TcR3i3QaDGmb9Ko6QU4BAYfTjabeVqP4stVHwPv0QJ00000IGoi2Axwpu1Xfk1Ng0Amk1FHZmMn0RAWK002kQgL81Ex_HaJRTz7fda1mV__________3yMF3zC2s_rPRE3cHwPv0T-F27iW?test-tag=2391820241&amp;stat-id=1073741829"><yatag class="yap-domain__text">cerussystems.<wbr>com</yatag></a></yatag></yatag><yatag class="yap-layout__content"><yatag class="yap-layout__slider" style="min-height: 0px;"><yatag class="yap-layout__slider-inner"><yatag class="yap-layout__body yap-text"><a class="yap-body-text yap-text-color"><wbr>Качественный аутсосринг администрирования баз данных <b>SQL</b> Server</a></yatag><yatag class="yap-layout__contacts"><yatag class="yap-contacts"><yatag class="yap-contacts__item"><a class="yap-contacts__item-link" target="_blank" href="https://an.yandex.ru/count/31zIozUD-dG40000Zh1n4dK5XP9p99K2cm5kGxS2Am4pYBfDvQ43YR5iSOq2cF__________3vwu000019sgbI0JkloeJrxWnm0X2wOvYhlLub06tB6pP2y5lRG0Jj03gWUbhY3E2BojIUi2tG7Ua2JqaRnAi1K4ZxctJpKCdxjCYGq3auy8cM92Z9D6ShQKI2Arc0qTe9mjlA-JHdApcTSlj9WD7TcR3i3QaDGmb9Ko6QU4BAYfTjabeVqP4stVHwPv0QJ00000IGoi2Axwpu1Xfk1Ng0Amk1FHZmMn0RAWK002kQgL81Ex_HaJRTz7fda1mV__________3yMF3zC2s_rPRE3cHwPv0T-F27iW?test-tag=2391820241&amp;stat-id=1073741829">Адрес&nbsp;и&nbsp;телефон</a></yatag></yatag></yatag></yatag></yatag></yatag><yatag class="yap-layout__adtune"><yatag class="yap-adtune yap-adtune_touch_false yap-adtune_oldie_false"><yatag class="yap-adtune__button yap-adtune-button"><yatag class="yap-adtune__image"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="8px" viewBox="0 0 14 14"><polygon points="14,0.7 13.3,0 7,6.299 0.7,0 0,0.7 6.3,7 0,13.299 0.7,14 7,7.7 13.3,14 14,13.299 7.7,7"></polygon></svg></yatag><yatag class="yap-adtune__tooltip"><yatag class="yap-adtune__tooltip-text">Скрыть&nbsp;объявление</yatag></yatag></yatag></yatag></yatag></yatag><yatag class="yap-layout__adtune-message"><yatag class="yap-adtune-message"><table class="yap-adtune-message__table"><tbody><tr><td class="yap-adtune-message__text">Спасибо. Объявление скрыто.</td></tr></tbody></table></yatag></yatag></yatag></td></tr></tbody></table></yatag></yatag></yatag></div>
    <script type="text/javascript">
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Direct.insertInto(149298, "yandex_ad_bottom", {
                stat_id: 5,
                ad_format: "direct",
                font_family: "verdana",
                type: "posterVertical",
                border_type: "block",
                limit: 2,
                title_font_size: 3,
                border_radius: true,
                links_underline: false,
                site_bg_color: "FFFFFF",
                border_color: "FBE5C0",
                title_color: "0066CC",
                url_color: "006600",
                text_color: "000000",
                hover_color: "0066FF",
                sitelinks_color: "0066CC",
                favicon: true,
                no_sitelinks: false
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.src = "//an.yandex.ru/system/context.js";
        s.type = "text/javascript";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(window, document, "yandex_context_callbacks");
    </script>
  </div>
  <a href="https://special.habrahabr.ru/advertising/" class="firskill__label">Реклама</a>
</div>
    </div>
  </div>
          <div class="clear"></div>
          <div class="footer_panel">
            <div id="footer">
  <dl>
    <dd><a href="https://habrahabr.ru/auth/login/">Войти</a></dd>
    <dd><a href="https://habrahabr.ru/auth/register/">Регистрация</a></dd>
  </dl>
  <dl>
    <dt>Разделы</dt>
    <dd><a href="https://habrahabr.ru/posts/top/">Публикации</a></dd>
    <dd><a href="https://habrahabr.ru/hubs/">Хабы</a></dd>
    <dd><a href="https://habrahabr.ru/companies/">Компании</a></dd>
    <dd><a href="https://habrahabr.ru/users/">Пользователи</a></dd>
    <dd><a href="https://toster.ru/?_aa=press_anykey">Q&amp;A</a></dd>
    <dd><a href="https://habrahabr.ru/sandbox/">Песочница</a></dd>
  </dl>
  <dl>
    <dt>Инфо</dt>
    <dd><a href="https://habrahabr.ru/info/about/">О сайте</a></dd>
    <dd><a href="https://habrahabr.ru/info/help/rules/">Правила</a></dd>
    <dd><a href="https://habrahabr.ru/info/help/">Помощь</a></dd>
    <dd><a href="https://habrahabr.ru/info/agreement/">Соглашение</a></dd>
  </dl>
  <dl>
    <dt>Услуги</dt>
    <dd><a href="https://special.habrahabr.ru/advertising/">Реклама</a></dd>
      <dd><a href="https://special.habrahabr.ru/">Спецпроекты</a></dd>
      <dd><a href="https://special.habrahabr.ru/corporate/">Тарифы</a></dd>
      <dd><a href="https://special.habrahabr.ru/content/">Контент</a></dd>
      <dd><a href="https://special.habrahabr.ru/workshops/">Вебинары</a></dd>
  </dl>
  <dl>
    <dt>Разное</dt>
    <dd><a href="https://habrahabr.ru/apps/">Приложения</a></dd>
    <dd><a href="https://special.habrahabr.ru/google/lab/" target="_blank">Тест-драйв</a></dd>
    <dd><a href="https://special.habrahabr.ru/hello_startup/habrahabr/" target="_blank">Помощь стартапам</a></dd>
      <dd><a href="https://special.habrahabr.ru/#hr">Работа в IT</a></dd>
  </dl>
  <div class="copyright">
    <div class="about">
      <a href="https://tmtm.ru/">© TM</a>
      <br><br>
      <a href="https://habrahabr.ru/feedback/">Служба поддержки</a><br><br>
          <a href="https://m.habrahabr.ru/?mobile=yes">Мобильная версия</a><br><br>
      <div class="social_accounts">
        <a href="https://twitter.com/habrahabr" class="tw"></a>
        <a href="https://www.facebook.com/habrahabr.ru" class="fb"></a>
        <a href="https://vk.com/habr" class="vk"></a>
        <!-- <a href="" class="gp"></a> //-->
      </div>
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
      <script type="text/javascript" src="./Интересные публикации _ Хабрахабр_files/jquery.cookie.js"></script>
      <script type="text/javascript">
        $(document).ready( function(){
          window.tmidLogin = function(){ return false; };
          if( $.cookie('tmid_no_check') == undefined ) {
            var expire = new Date();
            expire.setMinutes(expire.getMinutes() + 10 );
            $.cookie('tmid_no_check', 1, { expires: expire } );
            $.getScript("https://id.tmtm.ru/checklogin/", function(){
              if( window.tmidLogin() ) {
                  var href = $('#login').attr('href')+'?checklogin=true';
                  if( href !== undefined ) {
                      window.location.href = href;
                  }
              }
            });
          }
        });
      </script>
    <script type="text/javascript">
  // global vars
  var g_base_url = 'habrahabr.ru';
  var g_show_xpanel = false;
  var g_base_fullurl = 'https://habrahabr.ru/';
  var g_is_guest = false;
</script> 
      <script type="text/javascript" src="./Интересные публикации _ Хабрахабр_files/shortcuts.js"></script>
    <script type="text/javascript" src="./Интересные публикации _ Хабрахабр_files/global_footer_main.js"></script>
    
    
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            if (typeof (_yaparams) != 'undefined') {
                w.yaCounter24049213 = new Ya.Metrika({id:24049213,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    params:_yaparams});
            } else {
                w.yaCounter24049213 = new Ya.Metrika({id:24049213,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            }
        } catch(e) { }
    });
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>&lt;div&gt;&lt;img src="//mc.yandex.ru/watch/24049213" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
<!-- /Yandex.Metrika counter -->
    
    
    <!-- Хабр не резиновый! -->
  
<div id="AutocompleteContainter_e55cd" style="position: absolute; z-index: 9999; top: 0px; left: 0px;"><div class="autocomplete-w1"><div class="autocomplete" id="Autocomplete_e55cd" style="display: none; width: 300px; max-height: 400px;"></div></div></div><div id="AutocompleteContainter_b23d4" style="position: absolute; z-index: 9999; top: 2px; left: 0px;"><div class="autocomplete-w1"><div class="autocomplete" id="Autocomplete_b23d4" style="display: none; width: 300px; max-height: 400px;"></div></div></div><iframe src="./Интересные публикации _ Хабрахабр_files/ch2.html" style="width: 10px; height: 10px; position: absolute; top: -10000px; left: -10000px;"></iframe></body></html>
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help