<html>
  <head>
    <title>My Angular App!</title>
  

  </head>
  <body ng-app="flapperNews">
    <div class="ddd" ng-controller="MainCtrl as controller">
      {{controller.test}}
    </div>
  </body>
</html>